<section class="categories">
  <div class="container">
    <h2 class="category-title">
      Hardcover <span class="category-title-color">Fiction</span>
    </h2>
    <div class="book-container">
      <ul class="category-list">
        <li>
          <a
            href="#"
            class="category-link"
            data-category="Combined Print and E-book Fiction"
            >Combined Print and E-book Fiction</a
          >
        </li>
        <li>
          <a
            href="#"
            class="category-link"
            data-category="Combined Print & E-book Nonfiction"
            >Combined Print & E-book Nonfiction</a
          >
        </li>
        <li>
          <a href="#" class="category-link" data-category="Hardcover fiction"
            >Hardcover fiction</a
          >
        </li>
        <li>
          <a href="#" class="category-link" data-category="Hardcover nonfiction"
            >Hardcover nonfiction</a
          >
        </li>
        <li>
          <a
            href="#"
            class="category-link"
            data-category="Paperback trade fiction"
            >Paperback trade fiction</a
          >
        </li>
        <li>
          <a href="#" class="category-link" data-category="Paperback nonfiction"
            >Paperback nonfiction</a
          >
        </li>
        <li>
          <a
            href="#"
            class="category-link"
            data-category="Advice, how-to & Miscellaneous"
            >Advice, how-to & Miscellaneous</a
          >
        </li>
        <li>
          <a
            href="#"
            class="category-link"
            data-category="Children’s middle grade hardcover"
            >Children’s middle grade hardcover</a
          >
        </li>
      </ul>
      <ul class="content-container"></ul>
      <!-- <p class="no-books-message" style="display: none">The books not found!</p> -->
    </div>
  </div>
</section>
