<section class="category">
  <div class="container category-container">
    <h1 class="category-title">
      title<span class="category-title-color">color</span>
    </h1>
    <div class="book-container">
      <ul class="category-list">
        <li>
          <a href="#" class="category-link"
            >Combined Print and E-book Fiction</a
          >
        </li>
        <li>
          <a href="#" class="category-link"
            >Combined Print & E-book Nonfiction</a
          >
        </li>
        <li><a href="#" class="category-link">Hardcover fiction</a></li>
        <li><a href="#" class="category-link">Hardcover nonfiction</a></li>
        <li><a href="#" class="category-link">Paperback trade fiction</a></li>
        <li><a href="#" class="category-link">Paperback nonfiction</a></li>
        <li>
          <a href="#" class="category-link">Advice, how-to & Miscellaneous</a>
        </li>
        <li>
          <a href="#" class="category-link"
            >Children’s middle grade hardcover</a
          >
        </li>
      </ul>
      <ul class="book-list"></ul>
      <p class="no-books-message" style="display: none">The books not found!</p>
    </div>
  </div>
  <!-- <script src="./js/category.js"></script> -->
</section>
