<section>
    <div class="container">
       <h1 class="category-title">title<span class="category-title-color">color</span></h1>
       <ul class="category-list">
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
        <li class="category-item">
            <img src="" alt="" class="category-image">
            <h2 class="category-item-title"></h2>
            <p class="category-item-descr"></p>
        </li>
       </ul>
    </div>
</section>