<header class="header">
    <div class="container js-flax header-container">
        <nav class="hedear-nav js-nav js-flax">
            <svg width="109" height="28" class="header-nav-icon">
                <use href="./images/sprite.svg#logo"></use>
            </svg>
            <ul class="header-list js-flax ">
                <!-- is-hidden -->
                <li class="header-link-home">
                    <a class="header-page-home" href="#home">HOME</a>
                </li>
                <li class="header-link-shoping">
                    <a class="header-page-shop" href="#shopping-list">SHOPPING LIST</a>
                    <span class="iconify" data-icon="uil:shopping-bag"></span>
                </li>
            </ul>
        </nav>
        <div class="js-flax container-rith-btn">
            <img src="./images/Switcher.svg" alt="" class="img-switcher js-img-switcher">
            <button type="button" class=" btn-user" data-modal-open>

                <span class="btn-user-text">Log out</span>
                <svg width="24" height="24">
                    <use href="./images/sprite.svg#arrow-right" class="test"></use>
                </svg>
            </button>
            <button type="button" class="mobe-menu-open">
                <svg width="28" height="28" class="mobe-menu-svg">
                    <use href="./images/sprite.svg#burger"></use>
                </svg>
            </button>
        </div>
    </div>
</header>