<div class="backdrop-menu is-hidden" data-modal-menu>
  <div class="modal-menu">
    <button type="button" class="btn-user-helper" data-modal-open-mob>
      <span class="menu-btn-user-text">Sign up</span>
      <svg width="24" height="24">
        <use href="./images/sprite.svg#arrow-right" class="test"></use>
      </svg>
    </button>
    <div class="imghelper">
      <img src="./images/group-books.png" alt="" class="menu-group-books" />
    </div>

    <div class="menu-group-menu">
      <ul class="header-list-mob-menu js-flax">
        <li class="header-link-home-menu">
          <a class="header-page-home" href="./index.html">HOME</a>
        </li>
        <li class="header-link-shoping-menu">
          <a
            class="header-page-shop-menu js-shopping-cart-btn"
            href="./partials/shopping-list.html"
            >SHOPPING LIST</a
          >
          <span class="iconify" data-icon="uil:shopping-bag"></span>
        </li>
      </ul>

      <button type="button" class="btn-user-menu">
        <span class="btn-user-text-menu">Log out</span>
        <svg width="24" height="24">
          <use href="./images/sprite.svg#arrow-right" class="test"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
