<button type="button" class="modal-close" data-modal-open>open</button>

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close" data-modal-close>
      <svg class="close-icon">
        <use href="./images/sprite.svg#x-close"></use>
      </svg>
    </button>
    <form class="authorization-form" id="authForm" action="">
      <input
        class="authorization-input"
        type="text"
        placeholder="NAME"
        maxlength="32"
        required
      />

      <div class="input-email-wrapper">
        <input
          class="authorization-input"
          id="emailInput"
          type="email"
          placeholder="EMAIL"
          required
        />
        <svg class="svg-email">
          <use href="./images/sprite.svg#mail"></use>
        </svg>
      </div>
      <div class="input-password-wrapper">
        <input
          class="authorization-input"
          id="passwordInput"
          type="password"
          placeholder="PASSWORD"
          required
        />
        <svg class="svg-password">
          <use href="./images/sprite.svg#lock"></use>
        </svg>
      </div>
      <button class="signup-btn" id="signupBtn">SIGN UP</button>
      <div class="link-wrapper">
        <a class="sign-link sign-up-link" href="">SIGN UP</a>
        <a class="sign-link sign-in-link" href="">SIGN IN</a>
      </div>
    </form>
  </div>
</div>
