<section class="support">
	<div class="support-wrapper__title">
		<h2 class="support-title">Support Ukraine</h2>
		<svg class="support-icon" width="20" height="32">
			<use href="./images/sprite.svg#trident"></use>
		</svg>
	</div>
	<div class="swiper slider my-swiper">
		<ul class="support-list-js swiper-wrapper"></ul>
	</div>
	<button class="support-btn swiper-button__down" type="button">
		<svg class="support-btn__icon" width="22" height="22">
			<use href="./images/arrow-down.svg#icon-arrow-down"></use>
		</svg>
	</button>
	<button class="support-btn swiper-button__top" type="button" hidden>
		<svg
			class="support-btn__icon support-btn__icon__top"
			width="22"
			height="22"
		>
			<use href="./images/arrow-down.svg#icon-arrow-down"></use>
		</svg>
	</button>
</section>
