<div class="container container-allcategories-support">
  <section class="allcategories">
    <h2 class="visually-hidden">Book categories</h2>
    <ul class="allcategories-list allcategories-list-js list">
      <li class="allcategories-list__item">
        <button
          class="allcategories-list__btn is-active allcategories-list__btn-js"
          type="button"
          data-category="All categories"
        >
          All categories
        </button>
      </li>
    </ul>
  </section>
  <section class="support">
    <div class="support-wrapper__title">
      <h2 class="support-title">Support Ukraine</h2>
      <svg class="support-icon" width="20" height="32">
        <!-- <use href="../images/sprite.svg"></use> -->
      </svg>
    </div>
  </section>
</div>
