.categories {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.categories .category-link {
  color: rgba(17, 17, 17, .60);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12; 
  letter-spacing: -0.32px;
}

.categories .category-link:hover {
  color: var(--violet);
}

.categories .category-link.active {
  font-weight: 700;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }

.book-card {
  width: 335px;
  margin-bottom: 40px;
  }

.book-card:first-child {
  display: block;
}

.book-image {
  border: none;
  border-radius: 8px;
  width: 335px;
  height: 485px;
  margin-bottom: 14px;
}

.book-title {
  color: var(--black);
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
  transition: text-shadow var(--transition);
}

.book-author {
  color: var(--grey);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
  }

.category-title {
  font-size: 32px;
  line-height: 1.19; 
  letter-spacing: -1.28px;
  margin-bottom: 40px;
  min-width: 260px;
  transition: text-shadow var(--transition);
}

.category-title:is(:hover, :focus),
.book-card:is(:hover, :focus) .book-title {
  text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

@media screen and (min-width: 768px) {

  .category-container{
    padding: 0 32px;
  }

  .category-title {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }

  .books {
    display: flex;
    flex-direction: row;
    flex-basis: calc((100% - 50) / 3);
    }

  .book-card {
    width: 216px;
    
    }
  
  
  .book-card img {
    width: 218px;
    height: 316px;
  }
 
}

@media screen and (min-width: 1400px) {
  .category-container {
    width: 996px;
    padding: 0;
    margin: 0;
    margin-left: auto;
  }
  .home-card:nth-child(n) {
    display: block;
  }
  .books {
     flex-basis: calc((100% - 100) / 5);
    }

  .book-card {
    width: 180px;
    
  }
  .home-card img {
    width: 180px;
    height: 256px;
  }
}
