.dark-theme{
	background-color: var(--black-1);
	color: var(--white);
}

.header{
	background-color: var(--black);
}

.dark-theme.categories .category-link:hover {
  color: var(--yellow);
}

.dark-theme.book-title {
  color: var(--white);
}

.dark-theme.hero-title {
  color: var(--white);
}

.dark-theme.home-card-title {
  color: var(--white);
}

.dark-theme.home-category-btn {
  color: var(--white);
}

.dark-theme.modal {
	background: var(--black);
	border: 2px solid var(--white);
}

.dark-theme.modal__close-btn { 
	color: var(--white);
}

.dark-theme.mobe-menu-svg {
  stroke: var(--white);
}

.dark-theme.header-link-shoping-menu{
	color: var(--black);
}

.dark-theme.modal__add-btn:hover,
.dark-theme.modal__add-btn:focus,
.dark-theme.modal__remove-btn:hover,
.dark-theme.modal__remove-btn:focus {
		color: var(--black-1);
}

.dark-theme.modal-start {
  background-color: var(--black-1);
  border: 2px solid var(--white);
}

.dark-theme.close-icon {
  stroke: var(--white);
}

.dark-theme.authorization-input {
  border: 2px solid var(--white);
}

.dark-theme.svg-email,
.dark-theme.svg-password {
  stroke: var(--white);
}

.dark-theme.signup-btn {
  background-color: var(--white);
  color: var(--black);
}

.dark-theme.signup-btn:hover,
.dark-theme.signup-btn:focus {
  background-color: var(--black);
  color: var(--white);
}

.dark-theme.authorization-input::placeholder {
  color: var(--white);
}

.dark-theme.allcategories-list__btn:hover {
	color: var(--yellow);
}

.dark-theme.allcategories-list__btn:focus {
	color: var(--yellow);
}