@font-face {
	font-family: 'DM Sens';
	src: url('../fonts/DMSans-Regular.woff2'),
		url('../fonts/DMSans-Regular.woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'DM Sens';
	src: url('../fonts/DMSans-Medium.woff2'),
		url('../fonts/DMSans-Medium.woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'DM Sens';
	src: url('../fonts/DMSans-Bold.woff2'),
		url('../fonts/DMSans-Bold.woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'DM Sens';
	src: url('../fonts/DMSans-Italic.woff2'),
		url('../fonts/DMSans-Italic.woff');
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}