.hero-title {
  color: var(--black);
  font-family: var(--font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -1.28px;
  margin-bottom: 40px;
  min-width: 260px;
  transition: text-shadow var(--transition);
}
.hero-title-accent {
  color: var(--violet);
}
.home-card-container {
  display: flex;
  flex-direction: column;
}
.home-category-title {
  color: #b4afaf;
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.home-card {
  width: 335px;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: none;
}
.home-card:first-child {
  display: block;
}
.home-card img {
  border: none;
  border-radius: 8px;
  width: 335px;
  height: 485px;
  margin-bottom: 14px;
}
.home-card-title {
  color: var(--black);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
  transition: text-shadow var(--transition);
}
.home-category-btn:is(:hover, :focus),
.hero-title:is(:hover, :focus),
.home-card:is(:hover, :focus) .home-card-title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-card-author {
  color: #b4afaf;
  font-family: var(--font-family);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
  margin-bottom: 8px;
}
.home-category-btn {
  border-radius: 40px;
  border: 2px solid var(--violet);
  padding: 14px 28px;
  color: #111;
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  align-self: flex-end;
  margin-bottom: 40px;
  transition: text-shadow var(--transition);
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
  .home-category-title {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
  .home-card {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 50)/3);
  }
  .home-card:nth-child(n + 4) {
    display: none;
  }
  .home-card img {
    width: 218px;
    height: 316px;
  }
  .home-category-cards {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}

@media screen and (min-width: 1400px) {
  .home-container.container {
    width: 996px;
    padding: 0;
    margin: 0;
    margin-left: auto;
  }
  .home-card:nth-child(n)  {
    display: block;
  }
  .home-category-cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .home-card {
    flex-basis: calc((100% - 100)/5);
  }
  .home-card img {
    width: 180px;
    height: 256px;
  }
}
