.light-theme {
	background-color: var(--light-bg);
	color: var(--black);
}

.header{
	background-color: #fff;
}

.light-theme.categories.category-link:hover {
  color: var(--violet);
}

.light-theme.book-title {
  color: var(--black);
}

.light-theme.hero-title {
  color: var(--black);
}

.light-theme.home-card-title {
  color: var(--black);
}

.light-theme.home-category-btn {
  color: var(--black);
}

.light-theme.modal {
	background: var(--white);
	border: 2px solid var(--black);
}

.light-theme.modal__close-btn { 
	color: var(--black);
}

.light-theme.mobe-menu-svg {
  stroke: var(--black);
}

.light-theme.header-link-shoping-menu{
	color: var(--white);

}

.light-theme.modal__add-btn:hover,
.light-theme.modal__add-btn:focus,
.light-theme.modal__remove-btn:hover,
.light-theme.modal__remove-btn:focus {
		color: var(--white);
}

.light-theme.modal-start {
  background-color: var(--light-bg);
  border: 2px solid var(--black);
}

.light-theme.close-icon {
  stroke: var(--black);
}

.light-theme.authorization-input {
  border: 2px solid var(--black);
}

.light-theme.svg-email,
.light-theme.svg-password {
  stroke: var(--black);
}

.light-theme.signup-btn {
  background-color: var(--black);
  color: var(--white);
}

.light-theme.signup-btn:hover,
.light-theme.signup-btn:focus {
  background-color: var(--light-bg);
  color: var(--black-1);
}

.light-theme.authorization-input::placeholder {
  color: var(--black);
}

.light-theme.allcategories-list__btn:hover {
	color: var(--violet);
}

.light-theme.allcategories-list__btn:focus {
	color: var(--violet);
}