.backdrop-menu {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
   
    background-color: var(--violet);
    transition: opacity var(--transition), visibility var(--transition);
background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.singlUpBtn{
position: absolute;
left: 20px;
top: 104px;
width: 184px;
height: 48px;
flex-shrink: 0;
background-color: inherit;
display: flex;
    align-items: center;
    justify-content: space-between;
        align-items: center;
        border-radius: 18px;
            border: 1.5px solid #111;
            padding: 0 18px;
}

.menu-btn-user-text{
color: var(--white);
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.56px;
}
.menu-group-books{
    width: 450px;
        height: 439px;
        flex-shrink: 0;
    margin-top: 443px;
}

.menu-user-icon{
    width: 37px;
    height: 37px;
    fill:#FFF;
    z-index: 3;
}

.menu-btn-user-name{
    color: var(--white);
}

.btnUserMenu{
    width: 133px;
    height: 37px;
    gap: 9px;
    border: none;
    padding: 0;
    justify-content: flex-start
    /* justify-content: none; */
    /* display: none; */
}

.btnMenu{
    display: none;
}

.header-list-mob-menu{
    position: absolute;
        left: 129px;
        top: 247px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 0 18px;
}
.header-link-home-menu{
    width: 72px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
    background-color: var(--yellow);
        border-radius: 36px;
}