.container-allcategories-support.container {
	max-width: 335px;
	padding: 0;
}

.container-allcategories-support {
	margin-bottom: 40px;
}

.allcategories {
	max-width: 100%;
	height: 228px;

	overflow-y: scroll;
	margin-bottom: 40px;
}

.allcategories-list {
	display: flex;
	flex-direction: column;
	gap: 21px;
}

.allcategories-list__btn {
	padding: 0;
	text-align: left;

	border: none;
	cursor: pointer;

	font-size: 16px;
	font-weight: 400;
	line-height: 1.13;

	color: rgba(17, 17, 17, .60);
	background-color: transparent;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.allcategories-list__btn:hover {
	color: var(--violet);
}

.allcategories-list__btn:focus {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;

	color: var(--violet);
}

.support {
	width: 100%;
	height: 352px;
	padding: 24px 40px 20px;
	margin-bottom: 40px;

	display: flex;
	flex-direction: column;

	border-radius: 16px;
	background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
	box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
}

.support-wrapper__title {
	margin-bottom: 40px;
	height: 32px;

	display: flex;
	align-items: center;

	gap: 12px;
}

.support-title {
	font-size: 22px;
	font-weight: 700;
	line-height: 1.1;


	color: var(--white);
}

.support-icon {
	fill: var(--white);
}

.swiper {
	height: 188px;
	margin-bottom: 16px;
	overflow: hidden;
}

.support-list-js {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.support-list__link {
	width: auto;

	filter: brightness(0) invert(1);
	transition: var(--transition);
}

.support-list__link:hover {
	filter: none;
}

.support-list__item {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 19px;
	height: 32px;
	font-size: 14px;
	line-height: 1.29;

	color: var(--white)
}

.support-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0;
	width: 32px;
	height: 32px;
	margin: 0 auto;

	border: none;
	border-radius: 50%;

	background-color: var(--white);
	transition: var(--transition);

}

.support-btn:hover {
	box-shadow: -2px -1px 24px 1px rgba(255, 255, 255, 1);
}

.support-btn[hidden] {
	display: none;
}

.support-btn__icon__top {
	transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
	.container-allcategories-support.container {
		max-width: 704px;
	}

	.container-allcategories-support {
		display: flex;
		justify-content: center;
		gap: 32px;
		margin-bottom: 100px;
	}

	.allcategories {
		width: 337px;
		height: 472px;
		margin-bottom: 0;
	}

	.allcategories-list {
		gap: 32px;
	}

	.allcategories-list__btn {
		font-size: 18px;
		line-height: 1.33;
	}

	.allcategories-list__btn:focus {
		line-height: 1.5;

	}

	.support {
		width: 335px;
		height: 474px;
		padding: 26px 40px 24px;
		margin-bottom: 100px;
	}

	.support-title {
		font-size: 24px;
		line-height: 1.16;
	}

	.swiper {
		height: 292px;
		margin-bottom: 24px;
	}

	.support-btn {
		width: 38px;
		height: 38px;
	}
}

@media screen and (min-width: 1440px) {
	.container-allcategories-support.container {
		max-width: 356px;

	}

	.container-allcategories-support {
		display: flex;
		flex-direction: column;
		gap: 86px;
		position: sticky;
		top: -30rem;
	}

	.allcategories {
		width: 356px;
		height: 472px;
	}

	.support {
		width: 356px;
		height: 474px;
		margin-bottom: 0;
	}
}