/* .container {
    outline: 1px green solid;
} */

@media screen and (min-width: 768px) {
    .container-allcategories-support {
        display: flex;
        justify-content: center;
        gap: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .container-allcategories-support {
        display: flex;
        flex-direction: column;
        gap: 86px;
    }
}

/* --------------------ALLCATEGORIES------------------ */

.allcategories {
    max-width: 100%;
    height: 228px;

    overflow-y: scroll;
    margin-bottom: 40px;
    /* outline: 1px orange solid; */
}

@media screen and (min-width: 768px) {
    .allcategories {
        width: 337px;
        height: 472px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1440px) {
    .allcategories {
        width: 356px;
        height: 472px;
    }
}

.allcategories-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .allcategories-list {
        gap: 32px;
    }
}

/* -----------------------BTN >>> ALLCATEGORIES ---------------------- */
.allcategories-list__btn {
    padding: 0;
    text-align: left;

    border: none;
    cursor: pointer;

    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.32px;

    color: rgba(17, 17, 17, 0.60);
    background-color: transparent;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

@media screen and (min-width: 768px) {
    .allcategories-list__btn {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.36px;
    }
}


.allcategories-list__btn:hover {
    color: var(--violet);
}

.allcategories-list__btn:focus {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

    color: var(--violet);
}

@media screen and (min-width: 768px) {
    .allcategories-list__btn:focus {
        line-height: 24px;
        letter-spacing: -0.36px;
    }
}


/* ----------------------- SUPPORT  ---------------------- */

.support {
    width: 100%;
    height: 352px;
    padding: 24px 40px 20px;

    display: flex;
    flex-direction: column;

    border-radius: 16px;
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
    box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);


    /* outline: 2px rgb(7, 9, 3) solid; */
}

@media screen and (min-width: 768px) {
    .support {
        width: 335px;
        height: 474px;
        padding: 26px 40px 24px;
    }
}

@media screen and (min-width: 1440px) {
    .support {
        width: 335px;
        height: 474px;
    }
}

.support-wrapper__title {
    margin-bottom: 40px;
    height: 32px;

    display: flex;
    align-items: center;

    gap: 12px;
}

.support-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.88px;

    color: var(--white);
}

@media screen and (min-width: 768px) {
    .support-title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.96px;
    }
}

.support-icon {
    background-color: var(--white);
    /* При svg змінити на fill */
}