input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: var(--white);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  border-radius: 90px;
  transition: var(--transition);
}
input:checked + label {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

input:checked + label:after {
  left: calc(100% - 0.5px);
  transform: translateX(-100%);
}

body.dark-theme {
  background-color: var(--black-1);
  color: var(--white);
}

body.dark-theme .allcategories-list__btn {
  color: var(--white);
}

body.dark-theme .header {
  background-color: var(--black);
  border-color: var(--white);
}

body.dark-theme .categories .category-link:hover {
  color: var(--yellow);
}

body.dark-theme .book-title {
  color: var(--white);
}

body.dark-theme .hero-title {
  color: var(--white);
}

body.dark-theme .home-card-title {
  color: var(--white);
}

body.dark-theme .home-category-btn {
  color: var(--white);
}

body.dark-theme .modal {
  background: var(--black);
  border-color: var(--white);
}

body.dark-theme .modal__close-btn {
  color: rgba(255, 255, 255, 0.5);
}

body.dark-theme .mobe-menu-svg {
  stroke: var(--white);
}

body.dark-theme .mobe-menu-close {
  background-color: transparent;
}

body.dark-theme .header-link-shoping-menu {
  color: var(--black);
}

body.dark-theme .modal__add-btn:hover,
body.dark-theme .modal__add-btn:focus,
body.dark-theme .modal__remove-btn:hover,
body.dark-theme .modal__remove-btn:focus {
  color: var(--black-1);
}

body.dark-theme .modal__remobe-btn-message {
  color: rgba(255, 255, 255, 0.5);
}

body.dark-theme .modal-start {
  background-color: var(--black-1);
  border-color: var(--white);
}

body.dark-theme .close-icon {
  stroke: var(--white);
}

body.dark-theme .authorization-input {
  background-color: var(--black-1);
  border-color: var(--white);
  color: var(--white);
}

body.dark-theme .svg-email,
body.dark-theme .svg-password {
  stroke: var(--white);
}

body.dark-theme .signup-btn {
  background-color: var(--white);
  color: var(--black);
}

body.dark-theme .signup-btn:hover,
body.dark-theme .signup-btn:focus {
  background-color: var(--black);
  color: var(--white);
}

body.dark-theme .authorization-input::placeholder {
  color: var(--white);
}

body.dark-theme .sign-in-link {
  color: rgba(246, 246, 246, 0.5);
}

body.dark-theme .allcategories-list__btn:hover,
body.dark-theme .allcategories-list__btn:focus {
  color: var(--yellow);
}

body.dark-theme .empty_msg {
  color: rgba(255, 255, 255, 0.6);
}

body.dark-theme .shopping-list-card__description {
  color: var(--white);
}

body.dark-theme .shop-list-card__description {
  color: var(--white);
}

body.dark-theme .header-page-home{
	color: var(--white);
}

body.dark-theme .header-page-shop.active,
body.dark-theme .header-page-home.active{
	color: var(--black);
}

body.dark-theme .btn-user-text-menu-header{
	color: var(--black);
}
